<h1 class="page__header">Native js demo</h1>
<hr>
<table class="users-table">
  <caption class="users-table__caption">Table of users</caption>
  <tbody class="users-table__body" id="users-table__body">
    <tr class="users-table__headings">
      <th class="users-table__heading">Name</th>
      <th class="users-table__heading">Phone</th>
    </tr>
  </tbody>
</table>
<form class="form" id="form">
  <input type="text" name="" class="form__name-input" id="form__user-name"
         minlength="6" max="128" required placeholder="Name and Surname">
  <input type="tel" name="" class="form__tel-input" id="form__user-tel"
         minlength="11" max="16" required placeholder="Phone Number">
  <button type="submit" class="form_submit-btn" id="form__submit">
    Add user
  </button>
</form>
